 @model  IEnumerable<eCommerce.ViewModel.ShoppingViewModel>
 @{
        ViewBag.Title = "Shopping Page";
 }

<script type="text/javascript">
    function AddToCart(item) {
        var itemId = $(item).attr("itemid");
        var formData = new FormData();
        formData.append("ItemId", itemId);
        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Shopping/Index',
            success: function (data) {
                if (data.Success) {
                    $("#cartItem").text("Cart(" + data.Counter + ")");
                }
            },
            error: function () {
                alert("There is some problem.");
            }
        });
    }
</script>




    <h1>@ViewBag.Title</h1>

    <!-- Items-->

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                <!--
                        this for loop get each item in IEnumerable and then get the details of each item . by using (add)item
                 -->
                @foreach (var item in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-30">
                            <!-- Product image-->
                            <img class="card-img-top img-thumbnail img-fluid" src="@item.ImagePath" alt="@item.ImagePath" />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.ItemName</h5>
                                    <!-- Product price-->
                                    <h4>@item.ItemPrice LE</h4>
                                    <!-- Product details-->
                                    <section class="mt-2 col-md-12 "></section>
                                    <p style="text-align: center;" class="text-truncate">      @item.Description</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><button class="btn btn-outline-dark mt-auto" id="Button1" type="button" >Add To Cart    @Ajax.ActionLink("cart","Cart", "Shopping", new { ItemID = @item.ItemId }, new AjaxOptions() { HttpMethod = "Post" });</button></div>
                             
                            </div>
                        </div>
                    </div>
                }
                <style>
                    .card-img-top {
                        width: 100%;
                        height: 10rem;
                        object-fit: contain;
                    }

                    .card {
                        width: 100%;
                        height: 26rem;
                    }
                </style>
            </div>
        </div>
    </section>